@import "tailwindcss";

body {
  background: #0b1117;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.mobile-only {
  display: block;
}

@media (min-width: 851px) {
  .mobile-only {
    display: none;
  }
}

/* Visible only on desktop (>850px) */
.desktop-only {
  display: none;
}

@media (min-width: 851px) {
  .desktop-only {
    display: block;
  }
}
